.snackcontainer{
    width:100%;
    margin:0 auto;
}
.snackrow{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}
.snackcol1{
    width:20%;
    position:relative;
    transition: 0.3s;
    padding:10px 10px;
}
.snackcontent{
    display: flex;
    flex-wrap: wrap;
}
.snackcol3{
    width: 25%;
    padding: 20px 10px;
}
.snackcol2{
    width:70%;
}
.snackbtn{
    color: #689f38;
    background-color: rgb(227, 235, 218);
    border:none;
    font-weight: 600;
    padding: 1px 5px 2px 5px;
    border-radius: 1px;
}
.image-card2{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

@media (max-width:576px){
    .col-xs-1{
        flex:0 0 auto;
        width:8.33%;
     }
      .col-xs-2{
          flex:0 0 auto;
         width:16.66%;
     }
      .col-xs-3{
          flex:0 0 auto;
         width:25%;
     }
      .col-xs-4{
          flex:0 0 auto;
         width:33.33%;
     }
      .col-xs-5{
          flex:0 0 auto;
         width:41.66%;
     }
      .col-xs-6{
          flex:0 0 auto;
         width:50%;
     }
      .col-xs-7{
          flex:0 0 auto;
         width:58.33%;
     }
      .col-xs-8{
          flex:0 0 auto;
         width:66.66%;
     }
      .col-xs-9{
          flex:0 0 auto;
         width:75%;
     }
      .col-xs-10{
          flex:0 0 auto;
         width:83.33%;
     }
      .col-xs-11{
          flex:0 0 auto;
         width:91.66%;
     }
      .col-xs-12{
          flex:0 0 auto;
         width:100%;
     } 
     .d-xs-none{
          display:none !important;
      }	
      .d-xs-block{
        display: block !important;
      }
}

@media (min-width:1200px){
	.container{
		width:1170px;
	}
	 .col-lg-1{
		 flex:0 0 auto;
	   width:8.33%;
   }
    .col-lg-2{
		flex:0 0 auto;
	   width:16.66%;
   }
    .col-lg-3{
		flex:0 0 auto;
	   width:25%;
   }
    .col-lg-4{
		flex:0 0 auto;
	   width:33.33%;
   }
    .col-lg-5{
		flex:0 0 auto;
	   width:41.66%;
   }
    .col-lg-6{
		flex:0 0 auto;
	   width:50%;
   }
    .col-lg-7{
		flex:0 0 auto;
	   width:58.33%;
   }
    .col-lg-8{
		flex:0 0 auto;
	   width:66.66%;
   }
    .col-lg-9{
		flex:0 0 auto;
	   width:75%;
   }
    .col-lg-10{
		flex:0 0 auto;
	   width:83.33%;
   }
    .col-lg-11{
		flex:0 0 auto;
	   width:91.66%;
   }
    .col-lg-12{
		flex:0 0 auto;
	   width:100%;
   }
   .d-lg-block{
	   display:block !important;
   }
   .d-lg-none{
	   display:none !important;
   }
}