
  .cartrows{
     display:flex;
     flex-wrap: wrap;
     color:#000;
     background-color: #fff;
     box-shadow: 0 0 30px #ccc;
     justify-content: space-between;
     
  }
  .col-nav-1{
    width:33.3%;
    padding: 10px 0;
  }
  .ss h5{
    font-size:16px;
  }
  .ss h6{
    font-size:16px;
  }
  .navimg2 img{
    width:20% !important;
  }
  .menucontent{
    margin-right: 30px !important;
    width:100% !important;
  }
  .navicon{
    color:lightgreen !important;
    font-size: 30px !important;
  }
  .css-6hp17o-MuiList-root-MuiMenu-list {
    padding: 10px !important;
  } 
  .container1{
    width:95%;
    margin: 0 auto;
    box-shadow: none;
  }
  .css-0 {
    padding: 10px 0;
    display: flex;
    justify-content: flex-end;
}
  .col-lg-12{
    width:100%;
  }
  .nav-sec{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  background-color: #fff !important;

  }
  .navbox{
    display: flex;
    border: solid 1px rgba(179, 176, 176, 0.623) !important;
  }
  .navoffer{
      color:#000;
      margin-top: 10px;
      margin-left: 15px;
      cursor: pointer;
      transition: 0.3s; 
  }
  .navoffer:hover{
    background-color: #84c225 !important;
    color: #fff !important;
    padding: 10px 15px !important;
    margin-top: 0 !important;
    transition: 0.3s;
    margin-left: 0px;
  }
  .offericon{
    color:rgb(143, 4, 4) !important;
      font-size: 24px;
  }
  .navimg img{
     width:60%;
  }
  .searchic{
    background-color:#84c225;
    color:#fff;
    padding: 7px 0;
  }
  .col-lg-4{
    width:33.3%
  }
  ::placeholder{
    color:#000 !important;
    padding-left: 10px;
  }
  .shopicon{
    color:red;
    padding: 20px 40px;
  }
  .cartrows{
     display:flex;
     flex-wrap: wrap;
     color:#000;
     background-color: #fff;
     box-shadow: 0 0 30px #ccc;
  }
  .col-nav-1{
    width:25%;
    padding: 10px 0;
  }
  .navicon{
    color:rgb(143, 4, 4) !important;
    font-size: 50px !important;
  }
  .navbox{
    background-color: #fff;
   
  }
  .navfoot{
     color:blue;
     font-weight: 600;
  }
  .navboxbtn{
    border: solid 1px rgba(128, 128, 128, 0.459) !important;
   background-color: #84c225 !important;
   color: #fff !important;
    
  }
  .navboxbtn h3{
    text-align: left !important;
  }
  .css-1su9lvs-MuiPaper-root-MuiAppBar-root{
     box-shadow:none !important;
  }
  .react-multiple-carousel__arrow{
    opacity:0 !important;
  }
  .navboxbtn span{
    font-size: 19px;
    margin-left: 20px;
  }
  .searchinps{
    width:100%;
    border: solid 1px grey;
    color:grey;
  }
  .css-1su9lvs-MuiPaper-root-MuiAppBar-root {
    background-color: #fff !important;
  }
/* .css-1ka5eyc-MuiPaper-root-MuiMenu-paper-MuiPopover-paper {
  top: 90px !important;
  right: 0px !important;
} */
.d-none{
  display: none !important;
}
.d-lg-block{
  display: block !important;
}

@media (max-width:576px){
  .col-xs-1{
	  flex:0 0 auto;
	  width:8.33%;
   }
    .col-xs-2{
		flex:0 0 auto;
	   width:16.66%;
   }
    .col-xs-3{
		flex:0 0 auto;
	   width:25%;
   }
    .col-xs-4{
		flex:0 0 auto;
	   width:33.33%;
   }
    .col-xs-5{
		flex:0 0 auto;
	   width:41.66%;
   }
    .col-xs-6{
		flex:0 0 auto;
	   width:50%;
   }
    .col-xs-7{
		flex:0 0 auto;
	   width:58.33%;
   }
    .col-xs-8{
		flex:0 0 auto;
	   width:66.66%;
   }
    .col-xs-9{
		flex:0 0 auto;
	   width:75%;
   }
    .col-xs-10{
		flex:0 0 auto;
	   width:83.33%;
   }
    .col-xs-11{
		flex:0 0 auto;
	   width:91.66%;
   }
    .col-xs-12{
		flex:0 0 auto;
	   width:100%;
   }
   .d-xs-none{
		display:none !important;
	}	
  .nav-sec{
    background-color: #84c225 !important;
  }
  .navimg{
    width:70%;
  }
 
  .css-g2cm5r {
    position: relative;
    border-radius: 4px;
    background-color:#fff !important;
    color:#000 !important;
    margin-left: 0;
    width: 100% !important;
}
.searchic{
  background-color:#fff;
  color:#000;
}
}

@media (max-width:768px){
  .col-md-1{
	  flex:0 0 auto;
	  width:8.33%;
   }
    .col-md-2{
		flex:0 0 auto;
	   width:16.66%;
   }
    .col-md-3{
		flex:0 0 auto;
	   width:25%;
   }
    .col-md-4{
		flex:0 0 auto;
	   width:33.33%;
   }
    .col-md-5{
		flex:0 0 auto;
	   width:41.66%;
   }
    .col-md-6{
		flex:0 0 auto;
	   width:50%;
   }
    .col-md-7{
		flex:0 0 auto;
	   width:58.33%;
   }
    .col-md-8{
		flex:0 0 auto;
	   width:66.66%;
   }
    .col-md-9{
		flex:0 0 auto;
	   width:75%;
   }
    .col-md-10{
		flex:0 0 auto;
	   width:83.33%;
   }
    .col-md-11{
		flex:0 0 auto;
	   width:91.66%;
   }
    .col-md-12{
		flex:0 0 auto;
	   width:100%;
   }
	.d-md-none{
		display:none !important;
	}	
  .nav-sec{
    background-color: #84c225 !important;
  }
  .css-g2cm5r {
    position: relative;
    border-radius: 4px;
    background-color:#fff !important;
    color:#000 !important;
    width: 100% !important;
}
.searchic{
  background-color:#fff;
  color:#000;
}
.css-g2cm5r{
  margin-left: 0px !important;
}
}

@media (min-width:1200px){
	.container{
		width:1170px;
	}
	 .col-lg-1{
		 flex:0 0 auto;
	   width:8.33%;
   }
    .col-lg-2{
		flex:0 0 auto;
	   width:16.66%;
   }
    .col-lg-3{
		flex:0 0 auto;
	   width:25%;
   }
    .col-lg-4{
		flex:0 0 auto;
	   width:33.33%;
   }
    .col-lg-5{
		flex:0 0 auto;
	   width:41.66%;
   }
    .col-lg-6{
		flex:0 0 auto;
	   width:50%;
   }
    .col-lg-7{
		flex:0 0 auto;
	   width:58.33%;
   }
    .col-lg-8{
		flex:0 0 auto;
	   width:66.66%;
   }
    .col-lg-9{
		flex:0 0 auto;
	   width:75%;
   }
    .col-lg-10{
		flex:0 0 auto;
	   width:83.33%;
   }
    .col-lg-11{
		flex:0 0 auto;
	   width:91.66%;
   }
    .col-lg-12{
		flex:0 0 auto;
	   width:100%;
   }
   .d-lg-block{
	   display:block !important;
   }
   .d-none{
	   display:none !important;
   }
}